<h1> ADD-STUDENT</h1>
<form action="." method="post" enctype="multipart/form-data">
    {% csrf_token %}
    First-Name : <input type="text" name="first_name"><br>
    Last-Name : <input type="text" name="last_name"><br>
    Email : <input type="email" name="email"><br>
    Phone : <input type="text" name="phone"><br>
    DOB : <input type="date" name="dob"><br>
    Tools : <input type="text" name="tools"><br>
    Image : <input type="file" name="image"><br>
    Courses :
    <select name="course">
        <option value="Select Your Course"></option>
        {% for c in course_list %}
        <option value="{{c.course_name}}">{{c.course_name}}</option>
        {% endfor %}
    </select>
    <br>

    <input type="submit" value="SAVE">
</form><br><br><br>
<a href="{% url 'insta:logout' %}">Logout</a>
